/* common styles */
:root {
  --primary-font-color: #ffffff;
  --primary-text-color: #434455;
  --primary-brand-color: #404bbf;
  --logo-color: #4d5ae5;
  --primary-link-color: #2e2f42;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--primary-font-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

/* headder */
.navigation {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.link {
  text-decoration: none;
}

.second-logo-part {
  color: var(--primary-link-color);
}

.list {
  list-style: none;
}

.first-link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-link-color);
}

.first-link-nav:hover,
.first-link-nav:focus {
  color: var(--primary-brand-color);
}

.address-style {
  font-style: normal;
}

.address-link-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.address-link-style:hover,
.address-link-style:focus {
  color: #404bbf;
}

/* main */

/* btn-section */
.btn-sections {
  cursor: pointer;
  font-size: 16px;
  color: #4d5ae5;
  background: #f4f4fd;
  letter-spacing: 0.04em;
}
